/* colours */
$c-primary: #FF6B6B;
$c-dark: #292F36;
$c-secondary: #ffe66d;

$c-white: #f7f7f7;
$c-red: #d95565;
$c-green: #10b981;
$c-blue: #73B0F4;
$c-darkblue: #3A4488;
$c-orange: #F0AA61;
$c-tint: #FBFBFF;
$c-purple: #6363AC;
$c-darkpurple: #556CB6;